* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
$mainColor: #c471f5;
$dateColor: #777;
.common-icon {
  cursor: pointer;
}

// OVERSIZE
.oversize {
  display: none;
  width: 100vw;
  height: 100vh;
  background: #1e243a;
  h4 {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 550px) {
  .oversize {
    display: block;
  }
  .status-bar,
  .profile,
  .nav,
  .chatting,
  .profile-detail {
    display: none !important;
  }
}

// STATUS BAR
.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  .status-bar-column {
    display: flex;
    .clock {
      color: #555;
    }
    .status-bar-icon {
      margin-left: 7px;
      color: #555;
    }
  }
}
// NAV
.nav {
  width: 100vw;
  background: #fcfcfc;
  padding: 20px 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

    .nav-list-item i {
      color: #333;
    }
  }
}

// USER INTERFACE
.common-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: #333;
  font-size: 21px;
  .common-title {
    display: flex;
    margin-bottom: 10px;
  }
  .common-icon .fas {
    margin-left: 20px;
  }
}
.user-sub-title {
  padding-top: 10px;
  font-size: 14px;
  color: #555;
}
.user-contents {
  display: flex;
  align-items: center;
  padding: 10px 0;
  .user-img {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
  }
  .user-content {
    margin-left: 20px;
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
      color: #555;
    }
  }
}

// PROFILE
.profile {
  padding: 10px 20px;
  .profile-user {
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  .profile-friends {
    padding: 10px 0;
    .profile-user-sub-title {
      padding-top: 15px;
    }
  }
}

// PROFILE DETAIL
.profile-detail {
  width: 100vw;
  height: calc(100vh - 45px);
  position: relative;
  button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 34px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    cursor: pointer;
  }
  .bg-img {
    width: 100vw;
    height: calc(100vh - 45px);
    background-size: cover !important;
    position: absolute;
    top: 0px;
    left: 0;
  }
  .bg-opacity {
    width: 100vw;
    height: calc(100vh - 45px);
    background: #444;
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0.5;
  }
  .user-wrap {
    width: 200px;
    position: absolute;
    top: 60%;
    margin-left: 50%;
    transform: translateX(-100px);
    .user-img {
      display: flex;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 10px;
      object-fit: cover;
      z-index: 9;
    }
    .user-content {
      color: #fff;
      text-align: center;
      z-index: 9;
      h4 {
        font-size: 18px;
        margin-bottom: 5px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

// CHAT
.chat {
  padding: 10px 20px;
}

// CHATTING
.chatting {
  height: calc(100vh - 45px);
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
  .chatting-wrapper {
    padding: 10px 20px;
    .date {
      display: flex;
      justify-content: center;
      // border-top: 1px solid #555;
      padding: 10px 0;
      font-size: 12px;
      color: #555;
    }
    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
      margin-bottom: 15px;
      color: #333;
      h4 {
        font-size: 18px;
      }
      i {
        cursor: pointer;
        font-size: 20px;
      }
      i.fa-angle-left {
        font-size: 26px;
      }
    }
    // 받은 메세지 리스트
    .get-msg-list {
      padding-top: 20px;
      .get-msg-item {
        display: flex;
        margin-bottom: 20px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .msg {
          margin-left: 10px;
          position: relative;
          h4 {
            font-size: 14px;
            margin-bottom: 7px;
          }
          p {
            background: #fff;
            padding: 15px;
            font-size: 14px;
            border-radius: 0 20px 20px 20px;
          }
          span {
            font-size: 10px;
            color: $dateColor;
            position: absolute;
            bottom: 5px;
            right: -65px;
          }
        }
      }
    }
    // 보낸 메세지 리스트
    .my-msg {
      display: flex;
      justify-content: end;
      .my-msg-list {
        li {
          display: flex;
          justify-content: end;
          margin-bottom: 15px;
          p {
            display: inline-block;
            background: $mainColor;
            padding: 15px;
            color: #fff;
            font-size: 14px;
            text-align: right;
            border-radius: 20px 0 20px 20px;
            position: relative;
          }
          span {
            font-size: 10px;
            color: $dateColor;
            position: absolute;
            bottom: 5px;
            left: -65px;
          }
        }
      }
    }
    .my-msg.hidden {
      display: none;
    }
    // 메세지 보내는 창
    .send-msg-wrapper form {
      display: flex;
      align-items: center;
      width: 100vw;
      padding: 20px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      textarea {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 10px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 20px;
        font-family: "Noto Sans KR", sans-serif;
        overflow-y: hidden;
        resize: none;
        -ms-overflow-style: none;
      }
      textarea::-webkit-scrollbar {
        -ms-overflow-style: none;
      }
      textarea:focus {
        outline: none;
      }
      button {
        background: transparent;
        border: none;
        margin-left: 10px;
        font-size: 20px;
        color: rgb(209, 209, 209);
        cursor: pointer;
        transition: all 0.5s;
      }
      button:hover {
        color: $mainColor;
      }
    }
  }
}

// COMMUNITY
.community {
  padding: 10px 20px;
  .community-site-list {
    display: flex;
    padding: 20px 0;
    .community-site-list-item {
      margin-right: 20px;
      .site-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid #d3d3d3;
        object-fit: cover;
      }
      .community-content {
        position: relative;
        h4 {
          width: 70px;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .community-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .community-list-item {
      display: flex;
      width: 45%;
      padding: 20px 0;
      margin-right: 15px;
      .community-img {
        width: 100%;
        height: 120px;
        border-radius: 10px;
        object-fit: cover;
      }
      .site-official {
        position: relative;
        top: -5px;
        left: 0;
      }
      h4 {
        font-size: 14px;
      }
    }
  }
  .site-official {
    background: $mainColor;
    border-radius: 5px;
    padding: 1px 10px;
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: -19px;
    left: 8px;
  }
}

// SETTING
.setting {
  padding: 10px 20px;
  .my-profile {
    width: 100%;
    img {
      display: flex;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .my-profile-content {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      h4 {
        font-weight: normal;
        margin-bottom: 5px;
      }
      p {
        font-size: 10px;
        color: #999;
        letter-spacing: 0.5px;
      }
    }
  }
  .setting-list-wrapper {
    padding: 20px 0;
    border-top: 1px solid #eee;
    .setting-list-title {
      font-size: 12px;
      font-weight: normal;
      color: #555;
      margin-bottom: 10px;
    }
    .setting-list li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      font-size: 14px;
      color: #555;
      cursor: pointer;
      .setting-item-left {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
        }
        span {
          margin-left: 20px;
        }
        i {
          font-size: 18px;
        }
        i.fa-hashtag {
          color: $mainColor;
        }
      }
      .more {
        color: $mainColor;
      }
    }
  }
}
